#skills {
    max-width: 1100px;
    margin: 0 auto;
    
    padding: 20px;
    text-align: center;
  }

  #skills h1{
    font-size: 50px;
  }

  /* Section Styles */
  #skills > div {
    margin-bottom: 20px;
  }

  /* Front-End Styles */
  .frontend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* Back-End Styles */
  .backend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* Other Tools Styles */
  .other-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

.other-tools img{
  width: 100px;
}
.frontend img {
  width: 100px;
}
.backend img{
    width: 100px;
}

.frontend,.backend,.other-tools{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.text{
  font-size: x-large;
  font-weight: 600;
}

.main-box img {
  border-radius: 50%;
  width: 120px;
  height: 70px; 
  margin: 5px;
}

.main-box >div >div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

.main-box{
  margin-top: 10px;
}


  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .frontend, .backend, .other-tools {
      justify-content: center;
    }
  }

  @media only screen and (max-width: 480px) {
    .frontend img, .backend img, .other-tools img {
      max-width: 100%;
      height: auto;
    }
  }

  
