.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  color: azure;
  font-weight: 20px;
  font-weight: 500;
  cursor: pointer;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.toggle-btn span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  display: block;
  transition: transform 0.3s ease-in-out; 
}

.toggle-btn.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle-btn.open span:nth-child(2) {
  opacity: 0;
}

.toggle-btn.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}


.navbar-links {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 80%;
  background-color: #3498db;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease-in-out;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}


.toggle-btn.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle-btn.open span:nth-child(2) {
  opacity: 0;
}

.toggle-btn.open span:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -10px);
}

.navbar-links.open {
  left: 0;
}

.navbar-links.open div{
  display: grid;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 1.2em;
}

/* Responsive styles for larger screens */
@media screen and (min-width: 600px) {
  .toggle-btn {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
    position: relative;
    left: 0;
    flex-direction: row;
    background-color: transparent;
    height: auto;
  }

  .navbar {
    padding: 15px;
  }
  
  .navbar-links a {
    font-size: 1em;
    margin: 0 10px;
  }
}
