/* Navbar.css */

/* Default styles for mobile devices */
.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust as needed */
  margin-right: 10px;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.toggle-btn span {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  display: block;
}

.navbar-links {
  display: none;
}

.navbar-links.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  font-size: 1.2em;
}

/* Responsive styles for larger screens */
@media screen and (min-width: 600px) {
  .toggle-btn {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
  }

  .navbar {
    padding: 15px;
  }

  .navbar-links a {
    font-size: 1em;
    margin: 0 10px;
  }
}
